@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    
}

header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 0 64px;
    padding-top: 16px;
}
header ul{
    display: flex;
    gap: 1em;
}
header li a{
    font-size: 18px;
    color: #E5E7EB;
}
header a{
    color: white;
}
.section-one {
    display: flex;
    height: 90vh;
    overflow: hidden;
    background-color: #1F2937;
    padding: 0px 64px;
    
}

.left {
    flex: 1;
    /* flex-shrink: 0; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    gap: 1em;
    
}
.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    
}
.hero-sec {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    width: fit-content;
    background-color: #3882F6;
    color: white;
    padding: 8px 32px;
    border: none;
    border-radius: 10px;
}
#call-btn{
    border: solid 2px white;
}

.right {
    flex: 1;
    display: flex;
    align-items: center;
    height: 90vh;
    justify-content: center;
    
    
}
.right img {
    border-radius: 20px;
    width: 100%;
    height: 90%;
    overflow: hidden;

}
.card-container {
    width: 90%;
    margin: 0 auto;
    display: flex;  
    flex-direction: column;
}
.card-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 32px;
    

}
.cards {
    display: flex; 
    gap: 1.5em; 
    justify-content: center;
    margin-bottom: 32px;
}
.card-item {
    width: 200px;
    text-align: center;
}
.card-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid #3882F6;
}
.card-image img {
    width: 100%;
    height: 100%;
    
}
.quote {
    background-color: #E5E7EB;
    padding: 32px 0;
}
.q-width {
    width: 80%;
    margin: 0 auto;

}
.q-text {
    font-size: 24px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}
.q-sub {
    font-weight: 700;
    text-align: end;
}
.call-action {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    
}
.call-left {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.text-1 {
    font-size: larger;
    color: white;
}
.text-2 {
    color: #E5E7EB;
}
.call-card {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    width: 90%;
    padding-top: 16px;
    padding-bottom: 16px;
    /* border-radius: 20px; */
}
.call-right {
    display: flex;
    align-items: center;
}
footer{
    background-color: #1F2937;
    color: #E5E7EB;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
}
